@import '../globals/variables';

.header {
  background-color: $color-background;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1780px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__logo {
    display: flex;
    align-items: center;

    .logo-text {
      display: flex;
      align-items: baseline;
      margin-left: 10px;

      &__bold {
        font-family: $font-main;
        font-weight: 800;
        font-size: 35px;
        color: $color-black;
      }

      &__medium {
        font-family: $font-main;
        font-weight: 500;
        font-size: 35px;
        color: $color-black;
        margin-left: 5px;
      }

      &__trademark {
        font-size: 25px;
        vertical-align: super; // Піднімаємо до рівня верхнього індексу
        margin-left: 2px;
      }
    }
  }

  &__menu {
    font-family: $font-main;
    font-size: 25px;
    color: $color-primary;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

@media screen and (max-width: $ui-breakpoints-md) {
  .header {
    padding: 15px 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__logo {
      .logo-text__bold,
      .logo-text__medium,
      .logo-text__trademark {
        display: none; // Приховуємо текст логотипу
      }
    }

    &__menu {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $ui-breakpoints-xl) {
  .header {
    padding: 18px 0;

    .container {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__logo {
      .logo-text__bold {
        font-size: 30px;
      }

      .logo-text__medium {
        font-size: 30px;
      }

      .logo-text__trademark {
        font-size: 20px;
      }
    }

    &__menu {
      font-size: 22px;
    }
  }
}












