@import '../globals/variables';


.hero {
  width: 100%;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__text {
    text-align: center;

    .hero__name {
      font-family: $font-main;
      font-size: 150px;
      font-weight: 600; // SemiBold
      line-height: 175.78px;
      color: $color-primary;
    }

    .hero__subtitle {
      font-family: $font-main;
      font-weight: 300;
      font-size: 150px;
      line-height: 172.95px;
      color: $color-primary;
    }
  }

  &__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
  }

  &__arrow {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    svg {
      path {
        stroke: $color-primary;
        stroke-width: 2;
        stroke-linecap: square;
        stroke-linejoin: round;
      }
    }
  }

  .hero__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    gap: 10px;

    .hero__description-text {
      font-family: $font-main;
      font-weight: 300;
      font-size: 48px;
      line-height: 1.4;
      color: $color-primary;


      span {
        font-weight: 800;
      }
    }

    .hero__social {
      width: 27%;
      background-color: $color-primary;
      padding: 50px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-left: 0;

      .hero__social-title {
        font-family: $font-main;
        font-size: 32px;
        font-weight: 600;
        color: $color-white;
        margin-bottom: 20px;
      }

      .hero__social-icons {
        display: flex;
        gap: 15px;

        &__social-icon {
          width: 40px;
          height: 40px;

          svg {
            fill: $color-white;
          }

          &:hover {
            fill: $color-hover;
          }
        }
      }
    }
  }

  @media screen and (max-width: $ui-breakpoints-xl) {
    .hero__description {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      width: 100%;

      .hero__description-text {
        font-size: 36px;
        line-height: 1.3;
        max-width: 100%;
        text-align: center;
      }

      .hero__social {
        width: 100%;
        margin-top: 20px;
        padding: 40px;
        text-align: center;

      }

      .hero__social-icons {
        justify-content: center;
        gap: 15px;

        &__social-icon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  @media screen and (max-width: $ui-breakpoints-md) {
    .hero__description-text {
      font-size: 16px;
      line-height: 1.3;
    }

    .hero__social-title {
      font-size: 16px;
    }

    .hero__social-icons__social-icon {
      width: 30px;
      height: 30px;

      svg {
        fill: $color-white;
      }

      &:hover {
        fill: $color-hover;
      }
    }
  }

}


