
@mixin social-img($size, $bg-color) {
  display: inline-block;
  height: $size;
  width: $size;


  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    color: $bg-color;
  }
}